{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Vision</h1>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- to show ValidationError -->
  {% if form.non_field_errors %}
    <div class="card-panel red lighten-4 red-text">
      {% for error in form.non_field_errors %}
        <p><strong>Error:</strong> {{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn">
</form>

<!-- Materialize JS initialization -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize all select elements
    var selectEls = document.querySelectorAll('select');
    M.FormSelect.init(selectEls);
  });
</script>

{% endblock %}
