cloudinary==1.36.0
cloudinary-storage==0.3.0
asgiref==3.11.0
brotli==1.2.0
click==8.3.1
colorama==0.4.6
dj-database-url==3.1.0
Django==6.0.1
gunicorn==25.0.3
h11==0.16.0
packaging==26.0
pillow==12.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
uvicorn==0.40.0
whitenoise==6.11.0