{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Your Visions</h1>

{% for vision in visions %}
  <div class="card">
    <a href="{% url 'vision_detail' vision.id %}">
      <div class="card-content">
        <span class="card-title">{{ vision.name }}</span>
        <p>{{ vision.description }}</p>

        <p>{{ vision.get_target_month_display }}</p>

        {% if vision.image %}
      <img src="{% static vision.image|cut:'main_app/static/' %}" alt=''>
        {% endif %}
      </div>
    </a>
  </div>
{% empty %}
  <p>No visions found.</p>
{% endfor %}
<!-- Materialize JS initialization -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize all select elements
    var selectEls = document.querySelectorAll('select');
    M.FormSelect.init(selectEls);
  });
</script>

{% endblock %}
